@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    --text: #e7f4e8;
    --background: #081309;
    --background-disabled: #29372a;
    --background-lighter: #1f3121;
    --primary: #9fdba3;
    --secondary: #2b8131;
    --secondary-hover: #236928;
    --accent: #5ecf65;
}
body.day {
    --text: #111212;
    --background: #99eef9;
    --background-disabled: #7fbbc3;
    --background-lighter: #ade6ed;
    --primary: #5aa4ae;
    --secondary: #3ac0d3;
    --secondary-hover: #309dad;
    --accent: #5ecedd;
}
body.night {
    --text: #e4e9ef;
    --background: #041224;
    --background-disabled: #3a4b61;
    --background-lighter: #1e3553;
    --primary: #9ab7de;
    --secondary: #1f4c86;
    --secondary-hover: #173965;
    --accent: #2f7ce0;
}
body.rainy {
    --text: #ebf5f7;
    --background: #3a4e51;
    --background-disabled: #58686b;
    --background-lighter: #526669;
    --primary: #91d7e2;
    --secondary: #1b7785;
    --secondary-hover: #176773;
    --accent: #4ccfe4;
}
* {
    font-family: "Nunito";
}

body {
    background-color: var(--background);
    color: var(--text);
    transition: 0.4s;
}

.last-updated {
    font-size: 0.8rem;
}
button {
    background-color: var(--secondary);
    color: var(--text);
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: var(--secondary-hover);
}
button:disabled {
    background-color: var(--background-disabled);
    cursor: default;
}
form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 4rem;
}
.input-group {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
input {
    background-color: var(--background-lighter);
    border-radius: 6px;
    border-color: var(--text);
    border-width: 1px;
    border-style: solid;
    padding: 0.2rem 0.4rem;
    transition: 0.2s;
    color: var(--text);
}
.weather-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid var(--primary);
    box-shadow: 0 0 2rem -3px var(--primary);
}
.weather-card img {
    width: 4rem;
}
.location {
    font-weight: bold;
    font-size: 0.9rem;
}
.hero {
    font-size: 3rem;
    padding-bottom: 1rem;
}